include CONTRIBUTING.rst
include LICENSE
include README.rst
include enterprise_scheduler/resources/ffdl/README.md
include enterprise_scheduler/resources/ffdl/run_notebook.py
include enterprise_scheduler/resources/ffdl/start.sh

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.yml *.md *.sh
